* {
    margin-bottom: 5px;
}

body {
    display: flex;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.wrap {
    text-align: center;
    margin: auto;
}

.column {
    width: 50%;
}

body > .column:first-child {
    border-right: black solid 2px;
}

.p-edge {
    margin-bottom: -11px;
}

#get_button {
    margin: 10px;
}
