<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа 7</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Чат для обмена кодом</h1>
    <div id="messages"></div>
    <div class="inputbar">
        <div class="inputform">
            <textarea id="input"></textarea>
        </div>
        <div class="inputbutton">
            <button id="button">Отправить</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>