<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа 5</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
    <div class="column">
        <div class="wrap" >
            <p>Грани графа:</p>
            <div id="data-div">

            </div>
        </div>
    </div>
    <div class="column">
        <div class="wrap">
            <form  method="get">
                <p>Начальная точка</p>
                <input type="text" id="source">
                <p>Конечная точка</p>
                <input type="text" id="destination">
                <br>
                <input type="button" id="get_button" value="Получить">
            </form>
        </div>
        <div class="wrap">
            <img src="Images/babulex.jpg">
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="Scripts/script.js"></script>
</body>
</html>