body {
    margin: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS";
}

h2 {
    text-align: center;
}

#input-bar  {
    display: flex;
    flex-direction: column;
}

#input-bar > div:last-child > * {
    margin-top: 6px;
}

#input-bar > * {
    margin-top: 15px;
}

#input-bar > * > * {
    margin: auto;
}

#input-field {
    display: flex;
    flex-direction: column;
}

#input-field > * {
    margin-left: 0px;
}

#sendButton, #backToCreation {
    margin-top: 5px;
    width: 150px;
    height: 33px;
    font-family: "Comic Sans MS";
    font-size: 16px;
}

fieldset {
    width: fit-content;
}

/* Оформление основной таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Оформление ячеек таблицы */
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Оформление заголовков ячеек таблицы */
th {
    background-color: #f2f2f2;
}

/* Оформление четных и нечетных строк таблицы */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Убираем рамку у последней ячейки в каждой строке */
td:last-child, th:last-child {
    border-right: none;
}

/* Убираем рамку у последней ячейки в каждом столбце */
tr td:last-child {
    border-right: 1px solid #dddddd;
}

/* Добавляем отступ и центрируем текст в ячейках */
td, th {
    padding: 10px;
}

/* При наведении на строку таблицы меняем цвет фона */
tr:hover {
    background-color: #e6e6e6;
}

.buttonTd {
    width: 10%;
}

.delete-td:hover {
    background-color: red;
}

.edit-td:hover {
    background-color: deepskyblue;
}